<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta name="viewport" content="width=device-width, initial-scale=1">  <title>DakokuApp</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" crossorigin="anonymous">
</head>
<body>
  <h1 class="subtitle has-text-centered">DakokuApp</h1>
  <div class="has-text-centered">
    <figure class="image is-64x64 is-inline-block">
        <img class="is-rounded" src="../img/icon.png"/>
    </figure>
  </div>
  <div class="has-text-centered" id="version"></div>
  <div class="has-text-centered"><a href="https://github.com/TaneAkashi/DakokuApp" target="_blank">About DakokuApp</a></div>
  <div class="has-text-centered">Copyright ©︎ 2021 DakokuApp</div>
</body>
</html>
